<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/dashboard.css">
    <title>Dashboard</title>
</head>

<body>
    <header class="dashboard-header">
        <div class="container">
            <div class="img-links">
                <img src="../img/logo.png" alt="logo" width="200" height="auto">
                <nav class="topnav">
                    <a href="#get-user" class="active">Get Users</a>
                    <a href="#add-user">Add User</a>
                    <a href="#my-tasks">My Tasks</a>
                </nav>
            </div>
            <div class="user-data">
                <p>name</p>
            </div>
        </div>
    </header>
    <section class="get-users"></section>

    <script src="../js/dashboard.js"></script>
</body>

</html>