<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../img/favicon-32x32.png">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="../css/all-user.css">
    <title>CRUDify - Home</title>
</head>

<body>
    <header class="dashboard-header">
        <div class="container">
            <div class="img-links">
                <img src="../img/logo.png" alt="logo" width="200" height="auto">
                <nav class="topnav">
                    <a href="./home.html">All User</a>
                    <a href="./add-user.html">Add User</a>
                    <a href="./my-tasks.html">My Tasks</a>
                </nav>
            </div>
            <div class="user-data"></div>
        </div>
    </header>

    <div id="toggle-section"></div>

    <section id="home-section" class="container">
        <p id="user-count"></p>
        <div id="display-users"></div>
        <div id="editModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h2>Edit User</h2>
                <button id="saveChanges">Save Changes</button>
                <button id="cancelEdit">Cancel</button>
            </div>
        </div>
    </section>

    <footer class="dashboard-footer">
        <div class="container">
            <p>All Rights Reserved &copy; 2024 CRUDify.am</p>
        </div>
    </footer>

    <script src="../js/home.js"></script>
    <script src="../js/all-user.js"></script>
    <script src="https://kit.fontawesome.com/b43da9d28e.js" crossorigin="anonymous"></script>
</body>

</html>